openapi: 3.0.0
servers:
  - description: Budget Insight API
    url: https://demo.biapi.pro/v2
info:
  description: see https://www.budget-insight.com/budgea-api
  version: "1.0.0"
  title: Budget Insight API
paths:
  /auth/init:
    post:
      operationId: createAnonymouseUser
      summary: Create a new anonymous user
      security:
        - ClientId:     []
          ClientSecret: []
      responses:
        '200':
          description: created User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymousUser'
  /auth/token/access:
    post:
      operationId: transformCode
      summary: Transform a temporary code to a access_token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransformCode'
      responses:
        '200':
          description: connected User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'

  /users/{id_user}/connections/{id_connection}/accounts:
    get:
      operationId: getConnectionAccounts
      summary: get user accounts for a connection
      security:
        - Authorization:     []
      parameters:
        - in: path
          name: id_user
          description: The user ID
          schema:
            type: string
        - in: path
          name: id_connection
          description: The connection ID
          schema:
            type: integer
      responses:
        '200':
          description: the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsList'

  /users/{id_user}/connections:
    get:
      operationId: getConnections
      summary: get user connections
      security:
        - Authorization:     []
      parameters:
        - in: path
          name: id_user
          description: The user ID
          schema:
            type: string
      responses:
        '200':
          description: the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionList'

  /users/{id_user}:
    get:
      operationId: getUser
      summary: get a User
      security:
        - Authorization:     []
      parameters:
        - in: path
          name: id_user
          required: true
          description: The user ID
          schema:
            type: integer
      responses:
        '200':
          description: the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      operationId: deleteUser
      summary: delete a User
      security:
        - Authorization:     []
      parameters:
        - in: path
          name: id_user
          required: true
          description: The user ID
          schema:
            type: integer

      responses:
        '200':
          description: deleted User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users:
    get:
      operationId: getUsers
      summary: get a list of Users
      security:
        - Authorization:     []
      responses:
        '200':
          description: list of Users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersList'

  /banks:
    get:
      operationId: getBanks
      summary: get a list of Banks
      security:
        - Authorization:     []
      responses:
        '200':
          description: list of Banks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanksList'
  /users/{id_user}/connections/{id_connection}/accounts/{id_account}/transactions:
    get:
      operationId: getTransactions
      summary: get transactions for an account
      security:
        - Authorization:     []
      parameters:
        - in: path
          name: id_user
          required: true
          description: The user ID
          schema:
            type: string
        - in: path
          name: id_connection
          required: true
          description: The connection ID
          schema:
            type: integer
        - in: path
          name: id_account
          required: true
          description: The account ID
          schema:
            type: integer
      responses:
        '200':
          description: list of Transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsList'

components:
  schemas:
    TransactionsList:
      type: object
      properties:
        total:
          type: integer
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    Transaction:
      type: object
      required:
        - id
        - id_account
      properties:
        id:
          type: integer
        id_account:
          type: integer
        webid:
          type: string
        application_date:
          type: string
          format: date
        date:
          type: string
          format: date
        value:
          type: number
          format: float
        gross_value:
          type: number
          format: float
        nature:
          type: string
        original_wording:
          type: string
        simplified_wording:
          type: string
        stemmed_wording:
          type: string
        wording:
          type: string
        id_category:
          type: integer
        state:
          type: string
        date_scraped:
          type: string
          format: date-time
        rdate:
          type: string
          format: date
        vdate:
          type: string
          format: date
        bdate:
          type: string
          format: date
        coming:
          type: boolean
        active:
          type: boolean
        id_cluster:
          type: integer
        comment:
          type: string
        last_update:
          type: string
          format: date-time
        deleted:
          type: string
          format: date-time
        original_value:
          type: number
          format: float
        original_currency:
          type: string
        commission:
          type: number
          format: float
        commission_currency:
          type: string
        country:
          type: string
        counterparty:
          type: string
        card:
          type: string
    BanksList:
      type: object
      properties:
        total:
          type: integer
        banks:
          type: array
          items:
            $ref: '#/components/schemas/Bank'
    Bank:
      type: object
      required:
        - id
        - name
        - charged
        - required
        - uuid
      properties:
        id:
          type: integer
        name:
          type: string
        id_weboob:
          type: string
        hidden:
          type: boolean
        charged:
          type: boolean
        code:
          type: string
        beta:
          type: boolean
        color:
          type: string
        slug:
          type: string
        sync_frequency:
          type: number
          format: float
        months_to_fetch:
          type: integer
        auth_mechanism:
          type: string
        siret:
          type: string
        uuid:
          type: string
    AccountsList:
      type: object
      properties:
        total:
          type: integer
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    Account:
      type: object
      required:
        - id
        - original_name
        - balance
        - bookmarked
      properties:
        id:
          type: integer
        id_connection:
          type: integer
        id_user:
          type: integer
        id_parent:
          type: integer
        number:
          type: string
        webid:
          type: string
        original_name:
          type:  string
        balance:
          type: number
          format: float
        coming:
          type: number
          format: float
        display:
          type: boolean
        last_update:
          type: string
          format: date-time
        deleted:
          type: string
          format: date-time
        disabled:
          type: string
          format: date-time
        iban:
          type: string
        currency:
          type: string
        id_type:
          type: integer
        bookmarked:
          type: integer
        name:
          type: string
        error:
          type: string
        usage:
          type: string
        ownership:
          type: string

    ConnectionList:
      type: object
      properties:
        total:
          type: integer
        connections:
          type: array
          items:
            $ref: '#/components/schemas/Connection'
    Connection:
      type: object
      properties:
        connector_uuid:
          type: string
          format: uuid
        id:
          type: integer
        id_user:
          type: integer
        id_bank:
          type: integer
        error_message:
          type: string
        id_connector:
          type: integer
        last_update:
          type: string
          format: date-time
        error:
          type: string
        expire:
          type: string
          format: date-time
        active:
          type: boolean
        last_push:
          type: string
          format: date-time
        next_try:
          type: string
          format: date-time
    User:
      type: object
      properties:
        id:
          type: integer
        signin:
          type: string
        platform:
          type: string

    UsersList:
      type: object
      properties:
        total:
          type: integer
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    TransformCode:
      type: object
      properties:
        grant_type:
          type: string
          default: authorization_code
        client_id:
          type: string
        code:
          type: string
        client_secret:
          type: string
        redirect_uri:
          type: string
    AccessToken:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
    AnonymousUser:
      type: object
      example:
        expires_in: 0
        auth_token: "string"
        type: "string"
      properties:
        expires_in:
          type: integer
        auth_token:
          type: string
        type:
          type: string

  securitySchemes:
    ClientId:
      type: apiKey
      in: query
      name: client_id
    ClientSecret:
      type: apiKey
      in: query
      name: client_secret
    Authorization:
      type: apiKey
      in: header
      name: authorization
