# coding: utf-8

# flake8: noqa
{{>partial_header}}

from __future__ import absolute_import
from marshmallow import fields


# import schemas into schema package
{{#models}}{{#model}}from {{modelPackage}}.{{classFilename}} import {{classname}}Schema{{/model}}
{{/models}}
